Repository someengineering/resoto.com, changes with the owners that .github/CODEOWNERS names for each.
All owners: @TheCatLady, @scapecast, @lloesche, @aquamatthias

style: format Markdown/MDX files with Prettier
  .editorconfig
  .prettierignore
  .prettierrc.js
  blog/2022-XX-XX-resoto-query-language-101/index.md
  docs/README.md
  docs/concepts/automation/job.md
  docs/concepts/automation/workflow.md
  docs/concepts/components/README.md
  docs/concepts/components/core.md
  docs/concepts/components/library.md
  docs/concepts/components/metrics.md
  docs/concepts/components/resh.md
  docs/concepts/components/resotolib.md
  docs/concepts/components/resotometrics.md
  docs/concepts/components/shell.md
  docs/concepts/components/worker.md
  docs/concepts/graph/README.md
  docs/contributing/components.md
  docs/getting-started/installing-with-docker.md
  docs/getting-started/installing-with-kubernetes.md
  docs/getting-started/pruning-resources.md
  docs/reference/cli/README.md
  docs/reference/cli/query/aggregation.md
  docs/reference/cli/query/basic-queries.md
  docs/reference/cli/query/examples.md
  docs/reference/cli/query/subqueries.md
  docs/reference/cli/query/with-clause.md
  docs/reference/cli/tag.md
  docs/reference/permissions.md
  docs/reference/resources/data-models.md
  news/2021-10-04-v2.0.0a3.md
  news/2022-01-18-v2.0.0a10.md
  package.json
  src/pages/about.md
  src/pages/code-of-conduct.md
  src/pages/privacy.md
Owners: @TheCatLady, @scapecast, @lloesche, @aquamatthias

feat: footer logo placement tweak
  .vscode/extensions.json
  docusaurus.config.js
  src/css/custom.css
  src/pages/index.module.css
  src/theme/Footer.tsx
Owners: @TheCatLady

build(deps): bump dependencies
  yarn.lock
Owners: @TheCatLady

fix: add client-side redirects and correct README link
  README.md
  docs/contributing/documentation.md
  docusaurus.config.js
  package.json
  yarn.lock
Owners: @TheCatLady, @lloesche, @aquamatthias

build(deps): bump dependencies
  yarn.lock
Owners: @TheCatLady

fix: tweak hero and footer bg colors
  src/css/custom.css
Owners: @TheCatLady

fix: move mdx code blocks w/ imports below top-level heading
  docs/concepts/components/README.md
  docs/concepts/graph/README.md
  docs/contributing/components.md
  docs/reference/cli/README.md
  src/css/custom.css
Owners: @TheCatLady, @lloesche, @aquamatthias

fix: tweak link, bold, and emphasis colors
  docs/README.md
  src/css/custom.css
Owners: @TheCatLady, @lloesche, @aquamatthias

fix: ec2_volume_example SVG colors
  docs/reference/resources/img/data-models/ec2_volume_example.svg
  yarn.lock
Owners: @TheCatLady, @lloesche, @aquamatthias

fix: ec2_volume_example background color
  docs/reference/resources/img/data-models/ec2_volume_example.svg
Owners: @TheCatLady, @lloesche, @aquamatthias

chore(ci): trigger CodeQL workflow on pushes to main
  .github/workflows/codeql.yml
Owners: @TheCatLady

fix: change font face to Barlow
  src/css/custom.css
  src/pages/index.module.css
  static/fonts/Barlow.woff2
Owners: @TheCatLady

build(deps): bump dependencies
  package.json
  yarn.lock
Owners: @TheCatLady

fix: italic font
  src/css/custom.css
Owners: @TheCatLady

fix: highlight commands in example code blocks
  .prettierrc.js
  blog/2022-XX-XX-resoto-query-language-101/index.md
  docs/README.md
  docs/concepts/automation/job.md
  docs/concepts/components/core.md
  docs/concepts/graph/README.md
  docs/getting-started/pruning-resources.md
  docs/reference/cli/README.md
  docs/reference/cli/chunk.md
  docs/reference/cli/clean.md
  docs/reference/cli/flatten.md
  docs/reference/cli/query/README.md
  docs/reference/cli/query/aggregation.md
  docs/reference/cli/query/basic-queries.md
  docs/reference/cli/query/examples.md
  docs/reference/cli/query/subqueries.md
  docs/reference/cli/query/with-clause.md
  docs/reference/cli/tag.md
  docs/reference/resources/data-models.md
  news/2021-10-04-v2.0.0a3.md
  news/2022-01-18-v2.0.0a10.md
Owners: @TheCatLady, @scapecast, @lloesche, @aquamatthias

fix: use pathname to escape SPA redirect
  docs/concepts/components/core.md
  sidebars.js
Owners: @TheCatLady, @lloesche, @aquamatthias

feat: add documentation of more CLI commands
  docs/reference/cli/README.md
  docs/reference/cli/chunk.md
  docs/reference/cli/count.md
  docs/reference/cli/dump.md
  docs/reference/cli/echo.md
  docs/reference/cli/env.md
  docs/reference/cli/flatten.md
  docs/reference/cli/format.md
  docs/reference/cli/jq.md
  docs/reference/cli/list.md
Owners: @TheCatLady, @lloesche, @aquamatthias

fix: update blog author titles to be consistent with company website
  blog/authors.yml
Owners: @TheCatLady, @scapecast

fix: code block line highlights
  blog/2022-XX-XX-resoto-query-language-101/index.md
  docs/README.md
  docs/concepts/automation/job.md
  docs/concepts/components/core.md
  docs/reference/cli/clean.md
  docs/reference/cli/jq.md
  docs/reference/cli/list.md
  docs/reference/cli/query/aggregation.md
  docs/reference/cli/query/subqueries.md
  docs/reference/resources/data-models.md
  news/2022-01-18-v2.0.0a10.md
Owners: @TheCatLady, @scapecast, @lloesche, @aquamatthias

fix: edit components docs
  .github/workflows/ci.yml
  docs/concepts/components/core.md
  docs/concepts/components/library.md
  docs/concepts/components/metrics.md
  docs/concepts/components/shell.md
  docs/concepts/components/worker.md
  docs/contributing/components.md
  docusaurus.config.js
  sidebars.js
  src/pages/api.tsx
Owners: @TheCatLady, @lloesche, @aquamatthias

feat: add documentation of head/tail CLI commands
  docs/reference/cli/README.md
  docs/reference/cli/head.md
  docs/reference/cli/tail.md
  yarn.lock
Owners: @TheCatLady, @lloesche, @aquamatthias

fix: grammatical error
  docs/reference/cli/README.md
Owners: @TheCatLady, @lloesche, @aquamatthias

feat: add additional details of format & help CLI commands
  docs/reference/cli/README.md
  docs/reference/cli/format.md
  docs/reference/cli/help.md
Owners: @TheCatLady, @lloesche, @aquamatthias

fix: add redirects for reference pages
  docusaurus.config.js
  src/pages/docs/reference/cli/ancestors.md
  src/pages/docs/reference/cli/descendants.md
  src/pages/docs/reference/cli/predecessors.md
  src/pages/docs/reference/cli/successors.md
  src/pages/docs/reference/resotocore-api.tsx
Owners: @TheCatLady

feat: documentation of http CLI command
  docs/reference/cli/README.md
  docs/reference/cli/http.md
Owners: @TheCatLady, @lloesche, @aquamatthias

feat: more detailed CLI documentation (WIP)
  docs/reference/cli/chunk.md
  docs/reference/cli/clean.md
  docs/reference/cli/count.md
  docs/reference/cli/dump.md
  docs/reference/cli/echo.md
  docs/reference/cli/env.md
  docs/reference/cli/flatten.md
  docs/reference/cli/format.md
  docs/reference/cli/head.md
  docs/reference/cli/http.md
  docs/reference/cli/jq.md
  docs/reference/cli/list.md
  docs/reference/cli/query/basic-queries.md
  docs/reference/cli/query/subqueries.md
  docs/reference/cli/tag.md
  docs/reference/cli/tail.md
Owners: @TheCatLady, @lloesche, @aquamatthias

build(deps): bump dependencies
  yarn.lock
Owners: @TheCatLady

fix: correct broken link
  docs/README.md
Owners: @TheCatLady, @lloesche, @aquamatthias

fix: correct more broken links & add redirects
  docs/README.md
  docusaurus.config.js
  news/2022-01-18-v2.0.0a10.md
  src/pages/about.md
Owners: @TheCatLady, @lloesche, @aquamatthias, @scapecast

fix: dark mode announcement bar stripe color
  src/css/custom.css
Owners: @TheCatLady

fix: format CLI command usage consistently
  docs/reference/cli/chunk.md
  docs/reference/cli/clean.md
  docs/reference/cli/count.md
  docs/reference/cli/echo.md
  docs/reference/cli/format.md
  docs/reference/cli/head.md
  docs/reference/cli/help.md
  docs/reference/cli/http.md
  docs/reference/cli/jq.md
  docs/reference/cli/list.md
  docs/reference/cli/query/README.md
  docs/reference/cli/query/basic-queries.md
  docs/reference/cli/tag.md
  docs/reference/cli/tail.md
Owners: @TheCatLady, @lloesche, @aquamatthias

fix: clean-up -> cleanup
  docs/README.md
  docs/reference/permissions.md
  news/2021-10-04-v2.0.0a3.md
  src/components/HomepageFeatures.tsx
  src/pages/about.md
Owners: @TheCatLady, @lloesche, @aquamatthias, @scapecast

fix: footer logo link
  src/css/custom.css
  src/pages/index.tsx
  src/theme/Footer.tsx
Owners: @TheCatLady

ci: add Scarf pixel to resotocore API docs
  .github/workflows/ci.yml
Owners: @TheCatLady

feat: lazily load PNG images
  blog/2022-01-25-new-name-new-website/index.md
  blog/2022-XX-XX-resoto-query-language-101/index.md
  docs/concepts/components/README.md
  docs/concepts/graph/edge.md
  docs/reference/cli/query/basic-queries.md
  docs/reference/cli/query/subqueries.md
  docusaurus.config.js
  package.json
  src/css/custom.css
  yarn.lock
Owners: @TheCatLady, @scapecast, @lloesche, @aquamatthias

fix: hide navbar on scroll
  docusaurus.config.js
Owners: @TheCatLady

feat: add sitemap for search engines
  docusaurus.config.js
  package.json
  yarn.lock
Owners: @TheCatLady

fix: re-render Scarf pixel on route change
  src/pages/about.md
  src/theme/Footer.tsx
  yarn.lock
Owners: @TheCatLady, @scapecast

fix: navbar title text
  src/css/custom.css
Owners: @TheCatLady

build(deps): bump dependencies
  package.json
  yarn.lock
Owners: @TheCatLady

.github/CODEOWNERS:

*                     @TheCatLady

/src/pages/about.md   @TheCatLady @scapecast
/blog/                @TheCatLady @scapecast

/docs/                @TheCatLady @lloesche @aquamatthias
