Repository someengineering/resoto.com, changes with the owners that .github/CODEOWNERS names for each.
All owners: @TheCatLady, @scapecast, @lloesche, @aquamatthias

.github/CODEOWNERS:

*                     @TheCatLady

/src/pages/about.md   @TheCatLady @scapecast
/blog/                @TheCatLady @scapecast

/docs/                @TheCatLady @lloesche @aquamatthias

build(deps): bump dependencies
  package.json
  yarn.lock
Owners: @TheCatLady

chore(github): update issue templates
  .github/ISSUE_TEMPLATE/bug.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/enhancement.yml
Owners: @TheCatLady

Apply suggestions from code review
  docs/contributing/resoto.md
Owners: @TheCatLady, @lloesche, @aquamatthias

docs: ggggg
  docs/contributing/resoto.md
Owners: @TheCatLady, @lloesche, @aquamatthias

fix: use SVG for navbar logo text
  docusaurus.config.js
  src/css/custom.css
  static/img/navbar-logo.svg
  static/img/navbar-logotext.svg
Owners: @TheCatLady

build(deps): bump dependencies
  yarn.lock
Owners: @TheCatLady

refactor: optimize SVGs
  .editorconfig
  static/img/logo-lg.svg
  static/img/logo-md.svg
  static/img/logo-sm.svg
  static/img/navbar-logo.svg
  static/img/navbar-logotext.svg
  static/img/someengineering.svg
Owners: @TheCatLady

fix: update CoC reporting email & add privacy policy, terms
  docusaurus.config.js
  src/pages/code-of-conduct.md
  src/pages/privacy.md
  src/pages/terms.md
Owners: @TheCatLady

fix: privacy policy link
  src/pages/terms.md
Owners: @TheCatLady

feat: enable blog and add first blog post
  blog/2022-01-24-new-name-new-website/index.md
  docusaurus.config.js
Owners: @TheCatLady, @scapecast

fix: escape brackets
  blog/2022-01-24-new-name-new-website/index.md
Owners: @TheCatLady, @scapecast

fix: apply suggestions from code review
  blog/2022-01-24-new-name-new-website/index.md
Owners: @TheCatLady, @scapecast

fix: address feedback from code review
  blog/2022-01-25-new-name-new-website/index.md
Owners: @TheCatLady, @scapecast

feat: add banner image
  blog/2022-01-25-new-name-new-website/img/banner.png
  blog/2022-01-25-new-name-new-website/index.md
  docusaurus.config.js
Owners: @TheCatLady, @scapecast

feat: enable blog and add first blog post (#7)
  blog/2022-01-25-new-name-new-website/img/banner.png
  blog/2022-01-25-new-name-new-website/index.md
  docusaurus.config.js
Owners: @TheCatLady, @scapecast

fix: add different banner image for social media
  blog/2022-01-25-new-name-new-website/img/banner-social.png
  blog/2022-01-25-new-name-new-website/index.md
Owners: @TheCatLady, @scapecast

[ImgBot] Optimize images
  blog/2022-01-25-new-name-new-website/img/banner.png
  src/pages/github.svg
Owners: @TheCatLady, @scapecast

feat: navbar docs dropdown
  docusaurus.config.js
Owners: @TheCatLady

minor getting started fixes
  docs/getting-started/installing-with-docker.md
Owners: @TheCatLady, @lloesche, @aquamatthias

fix: minor getting started fixes (#14)
  docs/getting-started/installing-with-docker.md
Owners: @TheCatLady, @lloesche, @aquamatthias

fix: rename file
  docs/contributing/components.md
Owners: @TheCatLady, @lloesche, @aquamatthias

[ImgBot] Optimize images
  blog/2022-01-25-new-name-new-website/img/banner-social.png
  blog/2022-01-25-new-name-new-website/img/banner.png
  src/pages/github.svg
Owners: @TheCatLady, @scapecast

feat: better wording
  docs/contributing/components.md
Owners: @TheCatLady, @lloesche, @aquamatthias

feat: add author titles
  blog/authors.yml
  docusaurus.config.js
Owners: @TheCatLady, @scapecast

fix: blog post correction
  blog/2022-01-25-new-name-new-website/index.md
Owners: @TheCatLady, @scapecast

feat: link last updated authors to GitHub profiles
  src/theme/Footer.tsx
  src/theme/LastUpdated.tsx
Owners: @TheCatLady

fix: temporarily disable last update author for docs
  docusaurus.config.js
Owners: @TheCatLady

fix: re-enable last updated author w/ CI fix
  .github/workflows/ci.yml
  docusaurus.config.js
Owners: @TheCatLady

fix: undo swizzling of LastUpdated component
  src/theme/LastUpdated.tsx
Owners: @TheCatLady

chore(github): remove unneeded fields from bug issue template
  .github/ISSUE_TEMPLATE/bug.yml
Owners: @TheCatLady

build(deps): bump dependencies
  yarn.lock
Owners: @TheCatLady

chore(github): bump LICENSE copyright year [skip ci]
  LICENSE
Owners: @TheCatLady

Update docs/contributing/components.md
  docs/contributing/components.md
Owners: @TheCatLady, @lloesche, @aquamatthias

feat: add contribution instructions for Resoto components (#8)
  .gitignore
  docs/contributing/components.md
Owners: @TheCatLady, @lloesche, @aquamatthias

refactor: remove unnecessary mdx-code-block syntax
  docs/concepts/components/README.md
  docs/concepts/graph/README.md
  docs/contributing/components.md
  docs/reference/cli/README.md
  docusaurus.config.js
Owners: @TheCatLady, @lloesche, @aquamatthias

build(deps): bump dependencies
  yarn.lock
Owners: @TheCatLady

feat: dynamically fetch latest tag instead of hardcoding into install docs
  docs/getting-started/installing-with-docker.md
  docs/getting-started/installing-with-kubernetes.md
  src/components/LatestTag.tsx
  src/theme/CodeBlock.tsx
Owners: @TheCatLady, @lloesche, @aquamatthias

build(deps): bump Docusaurus to 2.0.0-beta.15
  package.json
  yarn.lock
Owners: @TheCatLady

fix: better detect dev environments
  src/theme/Footer.tsx
Owners: @TheCatLady

feat: enable auto-collapse of sidebar categories
  docusaurus.config.js
  sidebars.js
Owners: @TheCatLady
