Repository someengineering/resoto.com, changes with the owners that .github/CODEOWNERS names for each.
All owners: @TheCatLady, @scapecast, @lloesche, @aquamatthias

.github/CODEOWNERS:

*                     @TheCatLady

/src/pages/about.md   @TheCatLady @scapecast
/blog/                @TheCatLady @scapecast

/docs/                @TheCatLady @lloesche @aquamatthias

feat: docs breadcrumbs
  docusaurus.config.js
  src/css/custom.css
  src/theme/DocVersionBadge.tsx
Owners: @TheCatLady

fix: list CLI command page formatting
  docs/reference/cli/list.md
Owners: @TheCatLady, @lloesche, @aquamatthias

fix: add hero box shadow
  blog/authors.yml
  docusaurus.config.js
  src/pages/index.module.css
  yarn.lock
Owners: @TheCatLady, @scapecast

fix: disable blog plugin archives
  docusaurus.config.js
  yarn.lock
Owners: @TheCatLady

feat: add changelog for 2.0.0a13
  news/2022-01-28-v2.0.0.0a13.md
Owners: @TheCatLady

feat: remove link
  news/2022-01-28-v2.0.0.0a13.md
Owners: @TheCatLady

fix: embed resotocore API docs instead of generating static page
  .github/workflows/ci.yml
  docs/reference/core-api.md
  docs/reference/css/core-api.css
  docusaurus.config.js
  package.json
  sidebars.js
  src/pages/api.tsx
  yarn.lock
Owners: @TheCatLady, @lloesche, @aquamatthias

fix: input text color in API docs
  docs/reference/css/core-api.css
Owners: @TheCatLady, @lloesche, @aquamatthias

feat: docs sidebar theming
  docusaurus.config.js
  src/css/custom.css
  src/pages/index.module.css
  yarn.lock
Owners: @TheCatLady

feat: add Matomo pixel
  src/theme/Footer.tsx
  yarn.lock
Owners: @TheCatLady

Apply suggestions from code review
  news/2022-01-28-v2.0.0.0a13.md
Owners: @TheCatLady

feat: add changelog for 2.0.0a13 (#17)
  news/2022-01-28-v2.0.0.0a13.md
Owners: @TheCatLady

fix: dark theme hero/sidebar bg opacity tweak
  src/css/custom.css
  src/pages/index.module.css
  yarn.lock
Owners: @TheCatLady

fix: remove extra '.0' from latest release notes path
  news/2022-01-28-v2.0.0a13.md
Owners: @TheCatLady

feat: release notes
  news/2022-02-02-v2.0.0.14.md
  tools/release_notes.py
Owners: @TheCatLady

feat: enable Algolia DocSearch
  docs/README.md
  docusaurus.config.js
  sidebars.js
  yarn.lock
Owners: @TheCatLady, @lloesche, @aquamatthias

fix: apply suggestions from code review
  news/2022-02-02-v2.0.0.14.md
  tools/release_notes.py
Owners: @TheCatLady

feat: add release notes for 2.0.0a14 and a script to create release notes (#19)
  news/2022-02-02-v2.0.0.14.md
  tools/release_notes.py
Owners: @TheCatLady

fix: updated component diagram
  docs/concepts/components/README.md
  docs/concepts/components/img/component_diagram.png
  docs/concepts/components/img/component_graph.png
Owners: @TheCatLady, @lloesche, @aquamatthias

fix: banners for RQL draft blog post
  blog/2022-XX-XX-resoto-query-language-101/img/banner-social.png
  blog/2022-XX-XX-resoto-query-language-101/img/banner.png
  blog/2022-XX-XX-resoto-query-language-101/img/finance-no-context.png
  blog/2022-XX-XX-resoto-query-language-101/index.md
Owners: @TheCatLady, @scapecast

[ImgBot] Optimize images
  blog/2022-XX-XX-resoto-query-language-101/img/banner-social.png
  docs/concepts/components/img/component_diagram.png
Owners: @TheCatLady, @scapecast, @lloesche, @aquamatthias

build(deps): bump dependencies
  yarn.lock
Owners: @TheCatLady

fix: hero & footer styling on mobile
  src/css/custom.css
  src/pages/index.module.css
Owners: @TheCatLady

feat: v2.0.0a15 release notes
  news/2022-02-03-v2.0.0a15.md
Owners: @TheCatLady

feat: v2.0.0a15 release notes
  news/2022-02-03-v2.0.0a15.md
Owners: @TheCatLady

feat: v2.0.0a15 release notes
  news/2022-02-03-v2.0.0a15.md
Owners: @TheCatLady

feat: v2.0.0a15 release notes
  news/2022-02-03-v2.0.0a15.md
Owners: @TheCatLady

feat: v2.0.0a15 release notes
  news/2022-02-03-v2.0.0a15.md
Owners: @TheCatLady
